<div class="header">
  <div class="left-content">
    <span class="qliktive">Qliktive</span>
    <span class="hello-visualization">Hello Visualization</span>
  </div>
  <div class="right-content">
    <div class="clear-selections" ng-click="$ctrl.clearAllSelections()" ng-class="{'disabled': !dataSelected}">Clear
      selections</div>
  </div>
</div>
<div class="content" ng-click="$ctrl.clearAllSelections()">
  <div class="container" ng-if="$ctrl.connected">
    <div class="title">Overview of Airports height</div>
        <div id="chart-container-scatterplot" class="picasso-scatterplot"></div> 
  </div>
</div>
<div class="footer" ng-class="{'expanded': showFooter}">
  <div>
    <span class="lui-icon--top" ng-class="{'expanded': showFooter}" ng-click="toggleFooter()"></span>
    <span class="footer-title">Airport Information</span>
  </div>
  <div class="info-wrapper" ng-show="dataSelected">
    <div class="airport-info">
      <span class="info-title">Name</span>
      <span class="airport-name"></span>
      <span class="info-title">Height</span>
      <span class="airport-height"></span>
      <span class="info-title">Coordinates</span>
      <span class="airport-coordinates"></span>
      <span class="info-title">Description</span>
      <span class="airport-description"></span>
    </div>
  </div>
  <div class="no-airport-selected" ng-show="!dataSelected">No airport is selected</div>
</div>

<div class="error" ng-if="!$ctrl.connected && !$ctrl.connecting">
  <div class="error-wrapper">
    <span class="lui-icon--warning"></span>
    <span class="error-title">Oops! Something went wrong.</span>
    <span>{{$ctrl.error ? $ctrl.error : "Unexpected error"}}</span>
  </div>
</div>